* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{  
    font-family: "Roboto", sans-serif;
}

/*------NAVBAR SECTION------*/

h1{
    font-size: 48px;
    font-weight:bold;
    color: #F9FAF8;
    line-height: 1;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: inline;
}

.navbar{
    background-color: #1F2937;
    height: 60px;
}

.navbar .container{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

ul{
    list-style-type: none;
}

.navbar a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.navbar a:hover{
    color:#76abff;
}
/* --------------SECTION--------------- */

.container{
    max-width: 900px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

.about{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-bottom: 30px;
}

.signup-btn{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10%;
    width: 90px;
    height: 30px;
    margin-top: 20px;
}

.about-txt, .about-img-holder{
    padding: 0 10px;
}


.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 450px;
    background-color: grey;
    color: white;
}


/*------------INFO SECTION----------------*/

h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info {
    margin: auto;
    padding: 30px;
    height: auto;
}

.gallery-holder{
    display: flex;
    justify-content: center;
}

.info-item{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 30px;
}

.info-item p{
    color: #1F2937;
    text-align: center;
    font-size: 14px;
}

.info-img{
    height: 150px;
    width: 150px;
    background-color: white;
    border: 3px solid #3882F6;
    border-radius: 10%;
    
}

/*------------TESTIMONIALS----------------*/

.testimonials{
    height: 300px;
    background-color: #E5E7EB;
}